<h1>Escoge los ingrediente que quieres que lleve tu pizza!</h1>
<body>
<form id="form1" name="form1" method="post" action="">
  <table width="600">
    <tr>
      <td><p>
          <label>
            <input type="radio" name="RadioGroup1" value="0.1"id="RadioGroup1_0" />
            Masa</label>
          <br />
          <label>
            <input type="radio" name="RadioGroup1" value="2"id="RadioGroup1_1" />
            Queso</label>
          <br />
          <label>
            <input type="radio" name="RadioGroup1" value="3"id="RadioGroup1_2" />
            peperoni</label>
          <br />
          <label>
            <input type="radio" name="RadioGroup1" value="4"id="RadioGroup1_3" />
            Aceitunas</label>
          <br />
          <label>
            <input type="radio" name="RadioGroup1" value="5"id="RadioGroup1_4" />
            extra queso</label>
          <br />
        </p></td>
      <td><p>
          <label>
            <input type="radio" name="RadioGroup2" value="0.2"id="RadioGroup2_0" />
            piña</label>
          <br />
          <label>
            <input type="radio" name="RadioGroup2" value="2"id="RadioGroup2_1" />
            chocolate</label>
          <br />
          <label>
            <input type="radio" name="RadioGroup2" value="3"id="RadioGroup2_2" />
            champiñones</label>
          <br />
          <label>
            <input type="radio" name="RadioGroup2" value="4"id="RadioGroup2_3" />
            Anchoas</label>
          <br />
          <label>
            <input type="radio" name="RadioGroup2" value="5"id="RadioGroup2_4" />
            carne</label>
          <br />
        </p></td>
      <td><p>
          <label>
            <input type="radio" name="RadioGroup3" value="0.1" id="RadioGroup3_0" />
            pollo</label>
          <br />
          <label>
            <input type="radio" name="RadioGroup3" value="2" id="RadioGroup3_1" />
            Queso chedar</label>
          <br />
          <label>
            <input type="radio" name="RadioGroup3" value="3" id="RadioGroup3_2" />
            salchichas</label>
          <br />
          <label>
            <input type="radio" name="RadioGroup3" value="4" id="RadioGroup3_3" />
           atun </label>
          <br />
          <label>
            <input type="radio" name="RadioGroup3" value="5" id="RadioGroup3_4" />
            jamon</label>
          <br />
        </p></td>
    </tr>
    <tr>

      <td colspan="2"><label for="text" class="col-2 col-form-label"> El a valor a pagar de tu pizza es : </label><input type="text" name="resultado" id="resultado" disabled="disabled" value="0" /> </td>
    </tr>
  </table>
</form>
<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script>
  $(document).ready(function(e) {
    var $inRadio = $("#form1").find("input[type='radio']");
    var $inResultado = $("#form1").find("#resultado");
    var $valores = {};

    $inRadio.on("change", function(){

      var $valor = +$(this).val();
      var $nombre = $(this).attr("name");

      $valores[""+ $nombre+ ""] = $valor;

      var $suma = 0;

      $.each($valores, function(indice, $valorArray){
        $suma =+ $suma + $valorArray;
      });
      $inResultado.val($suma);
    });

  });

</script>
<a href="#" onmouseDown="alert('tu mensaje')">tu valor a pagar es : , $inResultado</a>
</body>

<a href="/">Regresar al home</a>
<a href="/logout">Log out</a>
